<?xml version="1.0"?>
<gui>
  <plugin filename="MinimalScene" name="3D View">
    <gz-gui>
      <title>Gazebo robot</title>
      <property type="bool" key="showTitleBar">false</property>
      <property type="string" key="state">docked</property>
    </gz-gui>
    <engine>ogre2</engine>
    <scene>scene</scene>
    <ambient_light>0.35 0.36 0.38</ambient_light>
    <background_color>0.85 0.86 0.88</background_color>
    <camera_pose>6.45 3.8 1.15 0 0.528 2.313</camera_pose>
  </plugin>
  <plugin filename="GzSceneManager" name="Scene Manager"/>
  <plugin filename="InteractiveViewControl" name="Interactive view control"/>
</gui>
